<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/stylesheet.css" rel="stylesheet" type="text/css">
    <title>Swan Imobiliaria</title>
</head>
<body>
<div class="container d-flex flex-column">
    <div class="container d-flex justify-content-center logo">
        <img alt="Swan Imob" id="logo" class="img-fluid" width="304" height="236" src="../imgs/logo-paginainicial.png"
             onclick="location.reload()">
    </div>
    <div class="d-flex justify-content-center">
        <input type="text" id="inputEmail" class="inputText" value placeholder="Digite o login"/>
    </div>
    <div class="d-flex justify-content-center">
        <input type="password" id="inputPassword" class="inputText" value placeholder="Digite a senha" style="margin-top: 20px"/>
    </div>
    <div class="d-flex justify-content-center opcao">
        <button id="searchButton" class="searchButton" onclick="logar()">Entrar</button>
    </div>
</div>
<script src="../js/adm.js"></script>
</body>