<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/stylesheet.css" rel="stylesheet" type="text/css">
    <meta name="google-signin-client_id"
          content="1028033961408-bbmid69l5cgrv5vqdkjhgfherh8i9sot.apps.googleusercontent.com">
    <title>Swan Imobiliaria</title>
</head>
<body onload="loadProperties()">
<div class="container d-flex justify-content-around" style="margin-top: 5px">
    <div class="container d-flex justify-content-start">
        <label id="adm" style="cursor: pointer" onclick="location.href='admin.html'">Administra&#231;&#227;o</label>
    </div>
    <div class="g-signin2" id="googleButton" data-onsuccess="onSignIn"></div>
    <label class="hidden" id="signOut" onclick="signOut()">Sair</label>
</div>
<div class="container d-flex flex-column">
    <div class="container d-flex justify-content-center logo">
        <img alt="Swan Imob" id="logo" class="img-fluid" width="304" height="236" src="../imgs/logo-paginainicial.png"
             onclick="location.reload()">
    </div>
    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <select id="options">
                <option value="Apartamento">Apartamento</option>
                <option value="Estudio">Est&#250;dio</option>
                <option value="Chacara">Ch&#225;cara</option>
                <option value="Casa">Casa</option>
            </select>
        </div>
        <div class="d-flex justify-content-center">
            <input type="text" id="inputAddress" class="inputText" value placeholder="Digite a cidade buscada"/>
        </div>
    </div>
    <div class="container d-flex flex-row justify-content-center">
        <div class="d-flex justify-content-center opcao">
            <label style="margin-right: 10px">Quartos</label>
            <input type="radio" id="r1" name="quartos" value="1" hidden>
            <input type="radio" id="r2" name="quartos" value="2" hidden>
            <input type="radio" id="r3" name="quartos" value="3" hidden>
            <input type="radio" id="r4" name="quartos" value="4" hidden>

            <button id="quartosButton1" class="quartosButton" value="1" onclick="checkButton(1)" autofocus>1
            </button>
            <button id="quartosButton2" class="quartosButton" value="2" onclick="checkButton(2)">2</button>
            <button id="quartosButton3" class="quartosButton" value="3" onclick="checkButton(3)">3</button>
            <button id="quartosButton4" class="quartosButton" value="4" onclick="checkButton(4)">4+</button>
        </div>
        <div class="d-flex justify-content-center opcao">
            <label style="margin-right: 10px">Pre&#231;os:</label>
            <input type="number" id="de" class="inputPreco" value placeholder="De"/>
            <input type="number" id="para" class="inputPreco" value placeholder="At&#233;"/>
        </div>
        <div class="d-flex justify-content-center opcao">
            <button id="searchButton" class="searchButton" onclick="filtrar()">Buscar!</button>
        </div>
    </div>
    <div class="container d-flex justify-content-center" style="margin-top: 20px">
        <h1 class="label-visita">Imoveis em Destaque</h1>
    </div>
    <div class="container d-flex flex-row justify-content-center" style="margin-top: 20px">
        <div class="imoveis" id="divClass1">
            <div class="cartao" onclick="loadChoosen(1)">
                <div id="imagem1"></div>
                <div class="infos">
                    <span hidden id="matricula1"></span>
                    <h5 class="tipo" id="tipo1"></h5>
                    <h5 class="valor" id="valor1"></h5>
                    <h3 class="tituloCidade" id="cidade1"></h3>
                    <input type="image" id="heart1" alt="like" src="../imgs/heart1.png" class="heart"
                           onclick="setFavorite(1)">
                </div>
            </div>
        </div>
        <div class="imoveis" id="divClass2">
            <div class="cartao" onclick="loadChoosen(2)">
                <div id="imagem2"></div>
                <div class="infos">
                    <span hidden id="matricula2"></span>
                    <h5 class="tipo" id="tipo2"></h5>
                    <h5 class="valor" id="valor2"></h5>
                    <h3 class="tituloCidade" id="cidade2"></h3>
                    <input type="image" id="heart2" alt="like" src="../imgs/heart1.png" class="heart"
                           onclick="setFavorite(2)">
                </div>
            </div>
        </div>
        <div class="imoveis" id="divClass3">
            <div class="cartao" onclick="loadChoosen(3)">
                <div id="imagem3"></div>
                <div class="infos">
                    <span hidden id="matricula3"></span>
                    <h5 class="tipo" id="tipo3"></h5>
                    <h5 class="valor" id="valor3"></h5>
                    <h3 class="tituloCidade" id="cidade3"></h3>
                    <input type="image" id="heart3" alt="like" src="../imgs/heart1.png" class="heart">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/imoveis.js"></script>
<script src="../js/search.js"></script>
<script src="../js/login.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    function activePlacesSearch() {
        var options = {
            types: ['(cities)'],
            componentRestrictions: {country: "br"}
        };
        var input = document.getElementById('inputAddress');
        var autocomplete = new google.maps.places.Autocomplete(input, options);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9KDF3b4CCguquvcRONUTPDqU5fJwnRj4&libraries=places&callback=activePlacesSearch"></script>
<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
</body>